$background-color: #100c0c;
$secondary-background-color: #121212;
$tertiary-background-color: #272727;
$border-color: #a0a0a0;
$text-color: #d0d0d0;
$highlight-color: #3f3f3f;
$pink-color: #ff69b4;
$yellow-color: #D4AC0D;
$border-radius: 25px;
$font-size-large: 5rem;
$font-size-medium: 2rem;