@import '@fortawesome/fontawesome-free/css/all.min.css';
@import '_variables';


@mixin hover-effect {
  &:hover {
    background-color: $tertiary-background-color;
    cursor: pointer;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
}

header {
  align-items: center;
  background-color: $background-color;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 99;
}

.searchbar {
  align-items: center; 
  display: flex;
  justify-content: center;
  width: 30rem;
}

.homeButton {
  background-color: $secondary-background-color;
  border-radius: $border-radius;
  border: none;
  color: $text-color;
  padding: 0.5rem;
  transition: background-color 0.8s ease, color 0.8s ease;
  @include hover-effect;
}

.searchFor {
  background-color: $secondary-background-color;
  border-bottom-left-radius: $border-radius;
  border-top-left-radius: $border-radius;
  border: 1px solid $border-color;
  color: $text-color;
  flex-grow: 1;
  font-size: 1rem;
  padding: 0.5rem 1rem;

  &:active,
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.searchButton {
  align-items: center;
  background-color: #222222;
  border-bottom-right-radius: $border-radius; 
  border-left: none;
  border-top-right-radius: $border-radius;  
  border: 1px solid $border-color;
  color: $text-color;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.65rem; 
  transition: background-color 0.3s ease;

  .fa-solid {
    font-size: 0.9rem;
  }
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .more {
    background-color: $secondary-background-color;
    border-radius: 100%;
    border: none;
    color: $text-color;
    font-size: 4rem;
    font-weight: bolder;
    margin: 1rem 0 2rem 0;
    padding: 3px 6px 0 6px;
    transition: background-color 0.8s ease, color 0.8s ease;
  
    &:hover {
      background-color: #4d4d4d;
      cursor: pointer;
    }
  }
}

.pokemon-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .pokemon-container {
    background-color: $highlight-color;
    border-radius: $border-radius;
    border: none;
    padding: 0.5rem;
    width: 50rem;

    .pokemon-item {
      align-items: center;
      background-color: $tertiary-background-color;
      border-radius: $border-radius;
      border: none;
      color: white;
      display: flex;
      flex-direction: column-reverse;
      height: 40rem;
      justify-content: space-evenly;
      transition: background-color 0.8s ease, color 0.8s ease;
      width: 100%; 
      @include hover-effect;
    }

    .nameAndFav {
      align-items: center;
      display: flex;
      width: 100%;

      h3 {
        color: white;
        flex-grow: 1;
        font-size: $font-size-large;
        text-align: center;
      }

      .boxFavComp {
        background-color: transparent;
        border: none;
        font-size: 4rem;
        padding: 3px 6px 0 6px;
        transition: background-color 0.8s ease, color 0.8s ease;
      
        &:hover {
          cursor: pointer;
        }
    
        &.gray {
          color: $text-color;
        }
      
        &.pink {
          color: $pink-color;
        }

        &.yellow {
          color: $yellow-color;
        }
      }
    }
  }
}

p {
  font-size: $font-size-medium;
}

img {
  height: auto;
  width: 320px;
}

.pokemon-details {
  align-items: center;
  background-color: $tertiary-background-color;
  border-radius: $border-radius;
  border: none;
  color: white;
  display: flex;
  flex-direction: column-reverse;
  height: auto;
  justify-content: center;
  padding: 1rem;
  width: 100vh;

  h2, p {
    margin: 10px 0;
    text-align: center;
  }

  h2 {
    font-size: $font-size-large;
  }
}

.loader {
  color: #3498db; 
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);

  i {
    animation: spin 1s linear infinite;
    font-size: 10rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  
nav {
  align-items: flex-start;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4rem);
  justify-content: flex-start;
  left: 0;
  padding: 1rem;
  position: fixed;
  top: 4rem;
  width: 5rem;
  z-index: 99;

  .navButtons {
    background-color: $secondary-background-color;
    border: none;
    border-radius: $border-radius;
    color: $text-color;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    transition: background-color 0.8s ease, color 0.8s ease;
    width: 100%;
    @include hover-effect;
  }
}

.textFav {
  color: $text-color;
}

.fa-circle-dot {
  color: red;
}

.pokemon-comparison {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;

  table {
    border-collapse: collapse;
    margin-bottom: 2rem;
    width: 80%;

    thead {
      background-color: $tertiary-background-color;
      color: white;
    }

    th, td {
      border: 1px solid #505050;
      padding: 0.5rem;
      text-align: center;
    }

    th {
      font-weight: bold;
    }

    .pokemon-image {
      img {
        max-height: 100px;
        max-width: 100px;
      }
    }

    .pokemon-types {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;

      li {
        background-color: $highlight-color;
        border-radius: 5px;
        margin: 0.2rem;
        padding: 0.2rem 0.5rem;
      }
    }
  }

  .clear-button {
    background-color: #d9534f;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #c9302c;
    }
  }
}

@media (max-width: 768px) { 
  .pokemon-comparison table {
    font-size: 0.8rem; 
    width: 95%;

    th, td {
      padding: 0.3rem; 
    }
  }
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}